parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests/Behat

    excludes_analyse:
        - 'tests/Unit/**.php'

    ignoreErrors:
        - '#Property (.*) is never read, only written.#'
